.contact_main_div {
  background: var(--white);
  margin-top: 50px;
  padding: 40px 40px 50px 40px;
}

.main_grid_div_contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact_main_div h2 {
  text-align: center;
  margin-bottom: 50px;
}

.contact_details div span {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: fit-content;
  cursor: default;
}

.contact_details div .icons_bg_con {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--yellow);
  border: 2px solid var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.contact_details div span:hover .icons_bg_con {
  background: var(--white);
  transform: translateX(5px);
}

.contact_details div span .icons_contact_left path {
  transition: 0.4s;
}

.contact_details div span:hover .icons_contact_left path {
  fill: var(--black);
}

.contact_details div span .icons_contact_left {
  color: var(--black);
}

.icons_contact_left path {
  fill: var(--black-7);
}

.contact_details div p {
  margin-right: 10px;
  color: var(--black);
}

.contact_details h4 {
  font-size: 22px;
  text-align: left;
  padding-left: 5px;
  margin-bottom: 20px;
  position: relative;
  width: fit-content;
  transition: 0.6s;
}

.contact_details h4 .gun {
  animation: gunsooth 1.3s infinite;
}

.reddote {
  color: red;
  font-weight: 500;
  font-size: 18px;
}

.fullname {
  display: flex;
  align-items: center;
}

@keyframes gunsooth {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(6deg);
  }
}

.contact_details h4 span {
  position: absolute;
  top: 3px;
  margin-left: 5px;
  transition: 0.6s;
}

.contact_details h4 span .gun_magine {
  position: absolute;
  top: -1px;
  transition: 0.6s;
  animation: gunsh 1.3s linear infinite;
}

@keyframes gunsh {
  0% {
    transform: translateX(1px);
    opacity: 0;
  }

  100% {
    transform: translateX(40px);
    opacity: 1;
  }
}

.br_email {
  display: none;
}

/* Right Side Input Area */

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form input,
form textarea {
  padding: 10px;
  border: none;
  outline: none;
  border: 1px solid var(--black-4);
  background: var(--white-1);
  width: 100%;
  margin-bottom: 15px;
  border-radius: 2px;
  transition: 0.5s;
  color: var(--black);
  font-size: 14px;
  font-weight: 400;
}

form input:focus,
form textarea:focus {
  border: 1px solid var(--yellow);
}

form .btn_submit {
  cursor: pointer;
  background: var(--yellow);
  margin-bottom: 0;
  margin-top: 10px;
  transition: 0.5s;
}

.btn_submit:hover {
  background: var(--black);
  color: var(--yellow);
}

.btn_submit:active {
  background: #00a6ff;
}

form label {
  font-family: var(--atterta);
  font-size: 14px;
  padding-bottom: 5px;
  color: var(--black);
}

@media (max-width: 480px) {
  .contact_main_div {
    padding: 40px 25px 40px 25px;
  }

  /* contact us */
  .main_grid_div_contact {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  .br_email {
    display: block;
  }
}