.homediv_main {
  display: flex;
  width: 100%;
  max-width: 1280px;
  position: relative;
  /* overflow: hidden; */
  /* display: grid;
  grid-template-columns: repeat(3, 20% 74% 6%); */
}

/* ------------- personal div ---------------- */
.left_personal_details {
  width: 20%;
  height: auto;
  background: #eeecec;
}

.home_div_main_feed {
  /* background: #eeecec; */
  width: 74%;
  /* overflow: hidden; */
}

.leftside_home_div {
  padding: 80px 40px 100px 40px;
  background: var(--white);
  position: relative;
}

.leftside_home_div .hi {
  font-size: 18px;
  font-family: var(--poppins);
  color: var(--black);
}

.leftside_home_div h1 {
  margin: 5px 0 0px 0;
}

.leftside_home_div h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.leftside_home_div .looking {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.4px;
  margin: 20px 0 40px 0;
  color: var(--black);
  text-transform: capitalize;
  max-width: 90%;
}

/* button */
.btn_hireme {
  overflow: hidden;
  display: flex;
  justify-content: center;
  background: var(--yellow);
  width: 140px;
}

.btn_hire {
  padding: 14px 24px;
  font-family: var(--poppins);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.3px;
  position: relative;
  transition: 0.4s;
  width: 100%;
  background: var(--yellow);
}

.btn_hire:before {
  content: " ";
  display: block;
  width: 200px;
  height: 80px;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: -10px;
  left: -300px;
  transform: rotate(-45deg);
  transition: all 0.4s ease-in-out;
}

.btn_hire:hover:before {
  margin-left: 500%;
}

/* end button */

/* Type Animation */
.type-animation {
  width: 0ch;
  overflow: hidden;
  margin-left: 3px;
  color: var(--black);
  white-space: nowrap;
  animation: text 4.5s steps(9) infinite;
  border-right: 2px solid #fff;
}

@keyframes text {
  0% {
    width: 0ch;
  }

  50% {
    width: 9ch;
  }
}

.leftside_home_div h4 {
  display: flex;
}

.menudots,
.crossmenubar {
  display: none;
}

.menudots,
.crossmenubar {
  color: var(--black);
}

.preeloading {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {

  /* Personal details leftside */
  .button_resume button a {
    font-size: 12px;
    padding: 13px 10px;
  }

  .personal_details {
    height: 1280px;
  }

  /* Home */
  .leftside_home_div .looking {
    font-size: 12px;
  }

  /* aboutus */
  .box_about {
    width: 145px;
    height: 145px;
  }

  .box_about span {
    font-size: 22px;
  }

  .box_about span {
    width: 45px;
    height: 45px;
  }

  /* project */
  .content_div_project p {
    font-size: 12px;
  }

  .content_div_project h4 {
    font-size: 14px;
  }

  /* archivements */
  .card_arvhivements_div h4 {
    font-size: 12px;
  }

  /* education */
  .timeline_div_edu {
    width: 40px;
  }

  .right_side_col_scl p {
    font-size: 12px;
  }
}

@media (max-width: 980px) {

  /* Personal details */
  .button_resume button a {
    font-size: 10px;
  }

  .name_user {
    font-size: 19px;
  }

  /* about us */
  .box_about {
    width: 130px;
    height: 130px;
  }

  .box_about span {
    width: 32px;
    height: 32px;
    font-size: 16px;
  }

  /* Project btn */
  .code_view_div a {
    font-size: 10px;
  }
}

@media (max-width: 780px) {

  .home_div_main_feed {
    width: 100%;
  }

  .left_personal_details {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 1;
    transition: 0.4s;
    width: 100%;
  }


  .left_personal_details.active {
    left: 0;
  }

  .personal_details {
    max-height: 100vh;
    overflow-y: auto;
    position: relative;
    padding-bottom: 140px;
  }

  .menudots,
  .crossmenubar {
    position: absolute;
    top: 15px;
    right: 18px;
    cursor: pointer;
    display: block;
  }

  .settingicon {
    top: 50px;
    font-size: 18px;
  }

  .settingicon i {
    animation: rotate 2.5s linear infinite;
  }

  .nav_bar_main.active {
    left: 0;
  }

  .crossmenubar {
    right: 30px;
  }

  .box_about {
    width: 140px;
    height: 140px;
  }

  .box_about span {
    font-size: 20px;
  }

  .box_about span {
    width: 45px;
    height: 45px;
  }

  .project_card_main_flex {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Archivement */
  .archive_card_three {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Education */
  .timeline_div_edu {
    width: 35px;
  }
}

@media (max-width: 480px) {

  /* first section hi there */
  h1 {
    font-size: 26px;
  }

  .leftside_home_div .hi {
    font-size: 16px;
  }

  .leftside_home_div h4 {
    font-size: 15px;
  }

  .looking_br {
    display: none;
  }

  .leftside_home_div .looking {
    font-size: 12px;
    padding-right: 20px;
  }

  .leftside_home_div {
    padding: 80px 0 100px 25px;
  }

  /* Aboutus */
  .box_about {
    width: 100%;
    height: 100%;
  }

  .about_main_div {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }

  .left_about .img_left_div {
    width: 100%;
  }

  .right_about {
    gap: 15px;
  }

  .about_bg_top {
    padding: 0 25px;
  }

  /* Projects */
  .project_card_main_flex {
    grid-template-columns: repeat(1, 1fr);
  }

  /* Archivements */
  .archive_card_three {
    grid-template-columns: repeat(1, 1fr);
  }

  /* Education */
  .social_icon_div_education .icon_lang_edu_i:nth-child(6) {
    display: none;
  }

  .social_icon_div_education .icon_lang_edu_i,
  .social_icon_div_education .icon_lang_edu_i:nth-child(5) {
    font-size: 40px;
  }

  /* contact us */
  .education__div_inside_data {
    grid-template-columns: repeat(1, 1fr);
  }

  .timeline_div_edu {
    width: 17px;
  }

  .right_side_col_scl {
    width: 70%;
  }

  .right_div_skills_nme>span {
    font-size: 14px;
    width: 100%;
  }

  .right_div_skills_nme {
    width: 100%;
  }
}