.navbar_main_div {
  position: relative;
  width: 6%;
  background: var(--white);
}

.nav_bar_main {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  position: sticky;
  top: 0;
  right: 0;
  transition: 0.4s;
}

.nav_bar_main .dark-mode {
  margin-bottom: 50px;
  background: none;
}

.nav_bar_main .dark-mode i {
  font-size: 26px;
  animation: rotate 2.5s linear infinite;
  cursor: pointer;
  color: var(--black);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

}

.menu_options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu_options a i {
  font-size: 20px;
  color: var(--black);
}

.menu_options a:hover {
  animation: rotateicon 2s infinite;
}

@keyframes rotateicon {
  50% {
    transform: rotate(180deg);
  }
}

.menu_options a {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 20px 0;
  transition: 0.4s ease-in-out;
}

.menu_options {
  transition: 0.4s;
}

.menu_options .active_home {
  background: var(--yellow);
  transition: 0.4s;
}

.menu_options .active_home i {
  color: var(--black-6);
}

@media (max-width: 767px) {
  .navbar_main_div {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navbar_main_div {
    width: 9%;
  }

  .settingicon {
    display: none;
  }
}