.archive_main_div {
  background: var(--white);
  margin-top: 120px;
  padding: 40px;
}
.archive_main_div h2 {
  text-align: center;
  margin-bottom: 50px;
}

.archive_card_three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.card_arvhivements_div {
  width: 100%;
  transition: 0.5s;
  border-radius: 5px;
}

.card_arvhivements_div img {
  width: 100%;
  width: 100%;
  border: 1px solid rgba(255, 255, 0, 0.51);
}
.card_arvhivements_div img:hover {
  border: 1px solid var(--yellow);
}
