footer {
  margin-top: 50px;
}

.main_div_footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 40px;
  background: var(--white);
}

.footer_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 5px;
}

.footer_icons::after {
  width: 100px;
  height: 1px;
  background: var(--black);
  display: inline-block;
  content: "";
  margin-left: 5px;
}

.footer_icons::before {
  width: 100px;
  height: 1px;
  background: var(--black);
  display: inline-block;
  content: "";
  margin-right: 5px;
}

.footer_icons a {
  font-size: 25px;
  margin: 0 10px;
  color: var(--black);
  transition: 0.5s;
}

.footer_icons a:hover:nth-child(1) i {
  color: #0e51e2;
}

.footer_icons a:hover:nth-child(2) i {
  opacity: 0.8;
}

.footer_icons a:hover:nth-child(3) i {
  color: #e60dc9;
}

.main_div_footer {
  text-align: center;
}

.main_div_footer>p {
  font-size: 15px;
  font-weight: var(--atterta);
  font-weight: 500;
  letter-spacing: 1px;
}

/* media query for mobile */
@media (max-width: 480px) {

  /* footer section */
  .main_div_footer {
    padding: 40px 25px 40px 25px;
  }
}