.sidebarcolodiv {
    position: absolute;
    top: 0;
    right: 0%;
    width: 100%;
    /* right: -100%;
    width: 0%; */
    height: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    opacity: 0;
    transition: 0.2s ease-in;
    overflow: hidden;
}

.sidebarcolodiv.active {
    z-index: 999;
    opacity: 1;
    transition: 0.2s ease-in;
    /* right: 0;
    width: 100%; */
}

.colorwrapper {
    max-width: 280px;
    width: 100%;
    background: var(--white);
    position: absolute;
    padding: 30px;
    z-index: 999;
    height: 100vh;
    transition: 0.4s ease-in-out;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebarcolodiv.active {
    right: 0;
}


.sidebarcolodiv.active .colorwrapper {
    /* transition-delay: 0.2s; */
    right: 0;
}

.lightthemediv {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.themebtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.colorwrapper .themebtn {
    padding: 12px 20px;
    /* border-radius: 6px; */
    color: var(--black);
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    background: var(--white);
}


.colorwrapper .darkbtn {
    background: #121212;
    color: #fff;
    border: 1px solid var(--black);
}

.colorwrapper .greenbtn {
    background: #50b154;
    color: #fff;
    border: 1px solid var(--black);
}

.colorwrapper .purplebtn {
    background: #634db5;
    color: #fff;
    border: 1px solid var(--black);
}

.colorwrapper .bluebtn {
    background: #0b48d3;
    color: #fff;
    border: 1px solid var(--black);
}

.backtochange {
    margin-top: 10px;
    width: 100%;
}

.backtochange .resetbtn {
    background: transparent;
    color: var(--black);
    border: 1px solid var(--black);
    padding: 8px 30px;
    width: 100%;
    border-radius: 6px;
}

.backtochange .resetbtn:hover {
    background: var(--black);
    color: var(--white);
}

.crossbar i {
    cursor: pointer;
}

.crossbar i {
    color: var(--black);
    font-size: 22px;
}